# Исключить виртуальное окружение
.venv/
venv/

# Исключить файл конфигурации секретов
.env

# Исключить зависимости Node.js
node_modules/

# Исключить логи
*.log

# Исключить временные файлы и кэш
__pycache__/
*.pyc
.idea/
.vscode/
